html {
	font-size: 62.5%;
	overflow-x: hidden;
}

html.menu-active,
.menu-active body{
	overflow-y: hidden;
}

body {
	font: 400 2em / 1.5em 'Cardo', serif;
	color: #45484d;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

a {
  color: #54b5db;
  text-decoration: none;
  font-weight: 400;
  transition: all ease-out 0.2s; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility;
  color: #000000; }

h1 {
  font-size: 2em;
  line-height: 1em;
  text-indent: -1px;
}

h2 {
  font-size: 1.6em;
  line-height: 1.111em;
  text-indent: -1px;
}

h3 {
  font-size: 1.5em;
  line-height: 1.333em;
}

h4 {
  font-size: 1.25em;
  line-height: 1.2em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

p, ul, ol {
  margin: 2em auto; }

ul {
  list-style: none; }

li {
  position: relative; }

ul > li:before,
ol > li:before {
  position: absolute;
  width: 1.5em;
  margin-left: -2em;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
  text-align: right;
  color: #000000; }

ul > li:before {
  margin-top: 0.25em;
  content: '*'; }

ol {
  list-style-type: none;
  counter-reset: item; }

ol > li:before {
  content: counter(item) ". " !important;
  counter-increment: item; }

ol ol, ul ul, ul ol, ol ul {
  padding-left: 30px;
  margin: 15px 0; }

hr {
  display: block;
  height: 1px;
  margin: 2em 0;
  padding: 0;
  background: #e5e4e1;
  border: 0; }

blockquote {
  margin: 2em auto;
  padding: 1em;
  box-sizing: border-box;
  border-left: 0.25em solid #e5e4e1;
  font-style: italic;
  font-weight: 400;
  color: #45484d;
  background: #faf9f7; }

blockquote p {
  margin: 1em auto; }

blockquote p:first-child {
  margin-top: 0; }

blockquote p:last-child {
  margin-bottom: 0; }

em, i {
  font-style: italic;
  color: #212226; }

strong, b {
  font-weight: 700;
  color: #212226; }

small {
  font-size: 0.9em;
  color: #45484d; }

dl {
  margin: 20px 0; }

dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 10px; }

dl dd {
  margin-left: 200px;
  margin-bottom: 12px; }

mark {
  background-color: #ffc336; }

code, tt {
  position: relative;
  margin: 0 0.333em;
  padding: 0.333em 0.666em;
  font-family: 'Inconsolata', monospace, sans-serif;
  font-size: 0.75em;
  white-space: pre;
  background: #faf9f7;
  border: 1px solid #e5e4e1;
  top: -2px; }

pre {
  position: relative;
  margin: 2em auto;
  padding: 1em;
  overflow: hidden;
  font-family: 'Inconsolata', monospace, sans-serif;
  white-space: pre;
  background: #faf9f7;
  border: 1px solid #e5e4e1;
  box-sizing: border-box; }

pre .lines {
  position: absolute;
  width: 2.666em;
  height: 100%;
  left: 0;
  top: 0;
  padding: 1.333em 0;
  border-right: 1px solid #e5e4e1;
  font-size: 0.75em;
  line-height: 2em;
  text-align: right;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5); }

pre .lines .line {
  display: block;
  padding-right: 0.333em;
  color: #45484d; }

pre code, pre tt {
  position: static;
  top: auto;
  margin: -1.333em -1.333em -1.333em 1.333em;
  padding: 1.333em;
  overflow: scroll;
  font-size: 0.75em;
  line-height: 2em;
  white-space: pre;
  background: transparent;
  border: none;
  vertical-align: inherit; }

kbd {
  display: inline-block;
  margin-bottom: 0.5em;
  padding: 1px 8px;
  border: #e5e4e1 1px solid;
  color: #45484d;
  text-shadow: #ffffff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #faf9f7;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #ffffff inset; }

table {
  width: 100%;
  max-width: 100%;
  margin: 2em 0;
  background-color: transparent;
  border: 1px solid #e5e4e1; }

table th,
table td {
  position: relative;
  padding: 0.5em;
  line-height: 0.95em;
  text-align: left;
  border: 1px solid #e5e4e1; }

table th {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 1.25em;
  padding: 0.666em;
  color: #000000; }

table td:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;
  padding: 1px;
  z-index: -1;
  content: '';
  background: #faf9f7; }

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 2.5em auto; }


.clearfix{
	zoom: 1;
	&::after{
		display: block;
		content: "";
		clear: both;
		width: 0;height: 0;visibility:hidden;
	}
}
.content{
  max-width: 36em;
  margin: 0 auto;
}

